{% extends 'base.html' %}
{% block content %}

    <!--내보내기 모달화면-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">내보내기</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <!--모달창 내부-->
      <div class="modal-body">
          <div class="tab-content">
              <div class="tab-pane fade show active">
                <form action = "/labeling/" method="get" enctype="multipart/form-data">
                  <p><b>파일 이름</b>
                      <input>
                  </p>
                  <p><b>파일 형식</b>
                      <select name="language">
                          <option label="JSON" value="fileType-json">
                          <option label="CSV" value="fileType-csv">
                      </select>
                  </p>
                  <p><b>내보내기 방법</b>
                      <label><input type="checkbox" value="out-objectStorage">object storage로 내보내기</label>
                      <label><input type="checkbox" value="out-download">다운로드</label>
                  </p>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                  <input type="submit" class="btn btn-primary" value="확인">
                  </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
    <!--헤더 -->
    <div class="navbar sticky-top bg-dark text-white p-md-2">
        인식결과 편집
        <button  type="button" class="btn-dark float-end" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">내보내기</button>
    </div>
    <div class="row container py-3" style="height: 600px; max-width: 100%">
        <div class="col-sm-4">
        <!--오디오 및 동영상 표시 -->
        <div class="col">
            <img src="https://w7.pngwing.com/pngs/952/614/png-transparent-microphone-digital-audio-sound-recording-and-reproduction-computer-icons-microphone-electronics-microphone-logo.png"
                class="rounded img-fluid">
            <div class="m-0 p-1 overflow-hidden">{{ file }}</div>
            <div class="m-0 p-1 text-black-50 overflow-hidden">파일시간  </div>
            <div id="fileTextNumbers" class="m-0 p-1 text-black-50 overflow-hidden">문장수:</div>
        </div>
         <!--단축키 설명-->
            <div class="col">
                <table class="table table" style="font-size: 13px">
                    <thead>
                    <tr class="table-dark">
                    <th>단축키</th>
                    <td>
                    </td>
                    </tr>
                    </thead>
                    <tbody class="text">
                    <tr>
                        <td>선택 문장 다시 재생: <b>Alt + R</b></td>
                        <td>다음 문장으로 이동: <b>Tab</b> </td>
                    </tr>
                    <tr>
                        <td>이전 문장으로 이동: <b>Shift + Tab</b> </td>
                        <td>첫문장으로 이동:<b>Alt + 윗화살표</b> </td>
                    </tr>
                    <tr>
                        <td>마지막 문장으로 이동: <b>Alt + 아래화 살표</b></td>
                        <td>저장하기: <b>ctrl(Command) + s</b></td>
                    </tr>
                    <tr>
                        <td>작업완료: <b>ctrl(Command) + e</b></td>
                        <td>내보내기: <b>ctrl(Command) + r</b> </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    <!--라벨링 화면 -->
    <div class="col-sm mh-100" style="overflow: auto; font-size: 13px" >
            <table class="table table-bordered table-hover">
                <thead>
                <tr class="table-dark">
                   <th>타임 라인</th>
                   <th>인식결과 편집</th>
                   </tr>
                </thead>
                <tbody>
                    <form action="/labeling/return_json/" method="POST">
                    <col style="width: 15%"><col style="width: auto">
                    {% if result_list %}
                        {% for result in result_list %}
                    <!--중첩 테이블-->
                    <tr>
                    <td colspan="2" class="p-0">
                        <table class="table mb-0 table-borderless">
                            <col style="width: 15%"><col style="width: auto">
                            <tr>
                                <td class="timeLine" style="font-size: small">
                                    <p class="timeLine-start">{{result.start}}</p>
                                    <p class="timeLine-end">{{result.end}}</p>
                                </td>
                                <!--타임라인-->
                                <td class="newStartText">
                                    {% for test in result.words %}
                                        {% for arr in test %}
                                        <div class="newStart" style="display:none">{{arr}}</div>  <!--음성인식 텍스트 표시-->
                                        {% endfor %}
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                {% if result.confidence >= 0.8 %}
                                <td class="text-success">신뢰</td>
                                {% elif result.confidence >= 0.5 %}
                                <td class="text-primary">보통</td>
                                {% else %}
                                <td class="text-danger">나쁨</td>
                                {% endif %}
                                <td><textarea style="width: 100%; resize: none" class="border-0"
                                    type="text" name="text_edited">{{result.textEdited}}</textarea><!--음성인식 결과 텍스트 표시-->
                            </tr>

                        </table>
                    </td>
                    </tr>
                        {% endfor %}
                    {% endif %}
                    <input type="hidden" name="file_id" value="{{ file.pk }}">
                    <input type= "submit" class="btn btn-secondary" value="저장">
                    </form>
                </tbody>
                </table>
        </div>
    </div>

    <!-- 오디오 플레이어 HTML -->
    <div class="audioPlayer position-fixed bottom-0 p-md-3" style="width: 100%; height: 60px">
        <audio id="audio-editFile"

               style="width: 100%; height: 40px"
               class="audioBox"
               src="{{ file.audio_file.url }}"
               controls="controls" currenttime >
        </audio>

    </div>
</div>

{% endblock %}