

{% extends 'base.html' %}

{% block content %}

<!--인식작업 요청시 나오는 모달화면-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">인식 작업 요청</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

        <!--모달창 내부 작업 설정창 -->
      <div class="modal-body">
          <ul class="nav nav-tabs">
              <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#qwe">Object storage 에서 선택</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#asd">파일 업로드</a>
              </li>
          </ul>
          <div class="tab-content">
              <div class="tab-pane fade show active" id="qwe">
                  <p> 언어 설정
                      <select name="language">
                          <option label="KR 한국어">
                          <option label="EN English">
                          <option label="KR/EN 한영 멀티 인식">
                          <option label="JP 일본어">
                      </select>
                  </p>
                  <p>대상 파일 선택</p>

      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
      <input type="submit" class="btn btn-primary" value="요청 시작">
  </div>
  <div class="tab-pane fade" id="asd">
      <form action="/labeling/add_file/" method="POST" enctype="multipart/form-data">
            <p> 언어 설정
                <select name="language">
                    <option label="KR 한국어">
                    <option label="EN English">
                    <option label="KR/EN 한영 멀티 인식">
                    <option label="JP 일본어">
                </select>
            </p>
            <p>파일 업로드 <input type="file" name="audio_file"></p>
            {% csrf_token %}
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
            <input type="submit" class="btn btn-primary" value="요청 시작">
      </form>
  </div>
</div>
      </div>
    </div>
  </div>
</div>




<div class="container my-3">
<h2> 작업목록 </h2>
<table>
<tbody>
    <th>
        <button type="button" class="btn btn-dark btn-lg btn-block" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">
        인식 작업 요청
    </button>
    </th>
    <th>
        <form action="/labeling/delete_file/" method="POST" enctype="multipart/form-data">
        <button type="submit" class="btn btn-dark btn-lg btn-block" value="삭제">삭제</button>
        </form>
    </th>
</tbody>
</table>

<!--검색창-->
<nav>
    <form action="/labeling/search_result/" method="POST">
        <input type="text" name="search_text">
        <input type="submit" name="검색">
    </form>
</nav>


<div class ="container my-3">
    <table class="table">
        <thead>
        <tr class="table-dark">
            <th><input id="allCheck" type="checkbox"></th>
            <th>작업 대상</th>
            <th class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
                작업 현황 <span class="caret"></span>
                </button>

                <ul class="dropdown-menu">

                    <li><a href="#">작업 대기</a></li>

                    <li><a href="#">작업 중</a></li>

                    <li><a href="#">취소 완료</a></li>

                    <li><a href="#">취소 중</a></li>
                    <li><a href="#">작업 실패</a></li>
                    <li><a href="#">작업완료</a></li>
                </ul>
            </th>
            <th>요청 방법</th>
            <th>작업 시작일(UTC+09:00)</th>
            <th>작업 종료일(UTC:09:00)</th>
            <th>인식 결과 편집</th>
        </tr>
        </thead>
        <tbody>
        {% if work_list %}
        {% for work in work_list %}
        <tr>
            <td><input type="checkbox" name="checked" value="{{ work.id }}"></td>
            <td>{{ work.audio_file }}</td>
            <td class="fileStatus">{{ work.status }}</td>
            <td>{{ work.request_method }}</td>
            <td>{{ work.start_time }}</td>
            <td>{{ work.end_time }}</td>
            <td><a class="btn btn-secondary" onclick="location.href='/labeling/edit_file'" role="button">인식 결과 편집</a></td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">요청 작업이 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
    <!-- 페이징처리 시작 -->
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if work_list.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ work_list.previous_page_number }}">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in work_list.paginator.page_range %}
            {% if page_number >= work_list.number|add:-5 and page_number <= work_list.number|add:5 %}
        {% if page_number == work_list.number %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
        </li>
        {% endif %}
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if work_list.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ work_list.next_page_number }}">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->
    </form>
</div>
</div>
{% endblock %}