{% load static %}
<!DOCTYPE html>


<html lang = "ko">

    <head>
    <!-- Required meta tage -->
    <meta charset = "utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static '/css/musicBar.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static '/css/modal.css' %}">
    <title>Main Page</title>
    </head>
    <body>
    <!-- 기본 템플릿 안에 삽입될 내용 Start -->
    {% block content %}
    {% endblock %}
    <!-- 기본 템플릿 안에 삽입될 내용 End -->

    <!--로딩 시간을 위해 js를 가장 마지막에 로드-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{%   static '/js/audioPlay.js'%}"></script>
    <script src="{%   static '/js/modalFunction.js'%}"></script>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <!--체크박스 전체선택 제이쿼리-->
	<script type="text/javascript">
		$(document).ready(function() {
			$("#allCheck").click(function() {
				if($("#allCheck").is(":checked")) $("input[name=checked]").prop("checked", true);
				else $("input[name=checked]").prop("checked", false);
			});

			$("input[name=checked]").click(function() {
				var total = $("input[name=checked]").length;
				var checked = $("input[name=checked]:checked").length;

				if(total != checked) $("#allCheck").prop("checked", false);
				else $("#allCheck").prop("checked", true);
			});
		});
	</script>

    </body>
</html>
